header{
    height: 60px;
    background-color: #2C3E50;
}

.blue-section{
    background-color: #1ABC9C;
    /*height: 600px;*/
}

.main-section{
    background-color: burlywood;
    /*height: 2000px;*/
    color: #2C3E50;
}

.txt-white{
    color: white;
}

.txt-xlarge{
    font-size: 2.2rem;
}

.txt-large{
    font-size: 1.5rem;
}

.txt-larger{
    font-size: 1.3rem;
}

.txt-regular{
    font-size: 1rem;
}

.upc{
    text-transform: uppercase;
}

.propic{
    width: 250px;
}

.horizontal-line{
    height: 1px;
    border: white solid 3px;
    border-radius: 5px;
}

.variant-line{
    height: 1px;
    border: #2C3E50 solid 3px;
    border-radius: 5px;
}

h2{
    font-size: 1.7rem;
}

.blue-section p{
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.6rem;
}

.about-us-wrapper{
    width: 70%;
    margin: 0 auto;
}

button{
    background: none;
    border: white solid 2px;
}

.upper-footer{
    background-color: #3A546D;
    height: 400px;
}

.lower-footer{
    background-color: #2C3E50;
    height: 200px;
}

.glyph-wrapper{
    width: 80%;
    margin: 0 auto;
}

.footer-glyph{
    height: 55px;
    width: 55px;
    border: 1px white solid;
    border-radius: 50%;
    margin: 10px 20px;
}

.glyph-link{
    color: white;
    text-decoration: none;
    padding-top: .5rem;
}

.mini-link{
    text-decoration: none;
    color: #1ABC9C;
}

@media screen and (min-width: 768px){
    h1.big-title{
        font-size: 4rem;
    }

    h3.jobs{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 992px){
    h1.big-title{
        font-size: 3.7rem;
    }
}

